<header>
  <nav>
    <div>
      <a routerLink="/home" routerLinkActive="active-link">ALEXANDRE<br /> BASTOS</a>
    </div>
    <div>
      <ul>
        <li>
          <a routerLink="/about" routerLinkActive="active-link">ABOUT</a>
        </li>
        <li>
          <a routerLink="/resume" routerLinkActive="active-link">RESUME</a>
        </li>
        <li>
          <a routerLink="/projects" routerLinkActive="active-link">PROJECTS</a>
        </li>
        <li>
          <a routerLink="/contact" routerLinkActive="active-link">CONTACT</a>
        </li>
      </ul>
    </div>
  </nav>
</header>